.wrapper
  position: relative
  height: 100vh
  padding-bottom: 111px

.contents
  max-width: 1030px
  margin: 100px auto
  padding: 0 15px
  &_blog
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    position: relative
    max-width: 930px
    h2
      position: relative
      margin-top: 3rem
      margin-bottom: 1.5rem
      padding-bottom: .5rem
      border-bottom: 3px solid #ddd
      font-size: 26px
      &:first-child
        margin-top: 0
      &:before
        position: absolute
        content: " "
        width: 100px
        bottom: -3px
        height: 3px
        background: linear-gradient(-45deg, rgba(246, 255, 0, 0.8), rgba(255, 0, 161, 0.8))
    h3
      position: relative
      margin: 2rem 0 1rem
      padding-bottom: .3rem
      font-size: 20px
      &:before
        position: absolute
        content: " "
        width: 100px
        bottom: -3px
        height: 2px
        background-color: #dadada

.article
  width: 70%
  p
    margin-bottom: 1.5rem
    line-height: 1.5

.tableOfContent
  width: 25%
  line-height: 1.5
  p
    margin-bottom: 0
  ul
    ul
      margin-top: 0
  a
    display: block
    padding: 3px 0
    font-size: 14px

